<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static  'css/base/front_base.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_828876_up6ym72wsu.css">
    <script src="//at.alicdn.com/t/font_828876_up6ym72wsu.js"></script>
    <link rel="stylesheet" href="{% static 'css/base/side.css' %}">
{#    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/duajax.js' %}"></script>
    <script src="{% static 'js/layer/layer.js' %}"></script>
    <script src="{% static 'js/front_base.js' %}"></script>
    {% block head %}{% endblock %}


</head>
<body>
{#    视频背景#}
{#    <video class="abc" autoplay="" loop="" style="background-image:url(>)"><source src="/static/news/images/bg-video.mp4" type="video/mp4"></video>#}

    <canvas id="canvas"></canvas>

    <header class="header">
        <nav class="nav">
            <a href="{% url 'news:index' %}"><h1 class="logo-box"></h1></a>

            <ul class="menu">
                <li><a href="/">新闻</a></li>
                <li><a href="{% url 'course:index' %}">视频</a></li>
                <li><a href="{% url 'payinfo:index' %}">独家</a></li>
                <li><a href="{% url 'news:search' %}">搜索</a></li>
            </ul>
            <div class="auth-group">
                <span class="iconfont icon-user-copy"></span>
                {% if user.is_authenticated %}
                    <a href="javascript:void(0)">{{ user.username }}</a>
                    <div class="user-more-box">
                        <i class="triangle"></i>
                        {% if user.is_staff %}
                            <a href="{% url 'cms:index' %}">管理系统</a>
                        {% endif %}
                        <a href="{% url 'duauth:logout' %}">注销</a>
                    </div>
                {% else %}
                    <a href="{% url 'duauth:login' %}">登录</a>
                    <a href="# ">/</a>
                    <a href="{% url 'duauth:register' %}">注册</a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% block main %}

    {% endblock %}
    <footer class="footer">
        <div class="footer-1">
            <div class="footer-inner">
                <div class="logo-box"></div>
                <div class="detail-info-group">
                    <div class="top-group">
                        <ul class="links">
                            <li><a href="#">关于我</a></li>
                            <li><a href="#">啦啦啦</a></li>
                            <li><a href="#">啦啦啦啦</a></li>
                            <li><a href="#">啦啦啦啦</a></li>
                        </ul>
                        <div class="about-me">
                            <span class="span1">有问题请联系我：</span>
                            <span class="iconfont icon-qq"></span>
                            <span class="span2 qq">530893915</span>
                            <span class="iconfont icon-weibo"></span>
                            <span class="weibo">--渎--</span>
                        </div>
                    </div>
                    <div class="bottom-group">
                        <p class="address">地址：成都市都江堰市东软大道1号</p>
                        <p class="contact">我的电话：15828562695</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-2">
            <a href="http://www.miitbeian.gov.cn/" style="color: white" target="view:window">蜀ICP备18026823号-2</a>
        </div>
    </footer>







    <script>
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        var cw = canvas.width = window.innerWidth,
          cx = cw / 2;
        var ch = canvas.height = window.innerHeight,
          cy = ch / 2;

        ctx.fillStyle = "#000";
        var linesNum = 30;
        var linesRy = [];
        var requestId = null;

        function Line(flag) {
          this.flag = flag;
          this.a = {};
          this.b = {};
          if (flag == "v") {
            this.a.y = 0;
            this.b.y = ch;
            this.a.x = randomIntFromInterval(0, ch);
            this.b.x = randomIntFromInterval(0, ch);
          } else if (flag == "h") {
            this.a.x = 0;
            this.b.x = cw;
            this.a.y = randomIntFromInterval(0, cw);
            this.b.y = randomIntFromInterval(0, cw);
          }
          this.va = randomIntFromInterval(25, 100) / 100;
          this.vb = randomIntFromInterval(25, 100) / 100;

          this.draw = function() {
{#              线条颜色#}
            ctx.strokeStyle = "#605e81";
            ctx.beginPath();
            ctx.moveTo(this.a.x, this.a.y);
            ctx.lineTo(this.b.x, this.b.y);
            ctx.stroke();
          }

          this.update = function() {
            if (this.flag == "v") {
              this.a.x += this.va;
              this.b.x += this.vb;
            } else if (flag == "h") {
              this.a.y += this.va;
              this.b.y += this.vb;
            }

            this.edges();
          }

          this.edges = function() {
            if (this.flag == "v") {
              if (this.a.x < 0 || this.a.x > cw) {
                this.va *= -1;
              }
              if (this.b.x < 0 || this.b.x > cw) {
                this.vb *= -1;
              }
            } else if (flag == "h") {
              if (this.a.y < 0 || this.a.y > ch) {
                this.va *= -1;
              }
              if (this.b.y < 0 || this.b.y > ch) {
                this.vb *= -1;
              }
            }
          }

        }

        for (var i = 0; i < linesNum; i++) {
          var flag = i % 2 == 0 ? "h" : "v";
          var l = new Line(flag);
          linesRy.push(l);
        }

        function Draw() {
          requestId = window.requestAnimationFrame(Draw);
          ctx.clearRect(0, 0, cw, ch);

          for (var i = 0; i < linesRy.length; i++) {
            var l = linesRy[i];
            l.draw();
            l.update();
          }
          for (var i = 0; i < linesRy.length; i++) {
            var l = linesRy[i];
            for (var j = i + 1; j < linesRy.length; j++) {
              var l1 = linesRy[j]
              Intersect2lines(l, l1);
            }
          }
        }

        function Init() {
          linesRy.length = 0;
          for (var i = 0; i < linesNum; i++) {
            var flag = i % 2 == 0 ? "h" : "v";
            var l = new Line(flag);
            linesRy.push(l);
          }

          if (requestId) {
            window.cancelAnimationFrame(requestId);
            requestId = null;
          }

          cw = canvas.width = window.innerWidth,
            cx = cw / 2;
          ch = canvas.height = window.innerHeight,
            cy = ch / 2;

          Draw();
        };

        setTimeout(function() {
          Init();

          addEventListener('resize', Init, false);
        }, 15);

        function Intersect2lines(l1, l2) {
          var p1 = l1.a,
            p2 = l1.b,
            p3 = l2.a,
            p4 = l2.b;
          var denominator = (p4.y - p3.y) * (p2.x - p1.x) - (p4.x - p3.x) * (p2.y - p1.y);
          var ua = ((p4.x - p3.x) * (p1.y - p3.y) - (p4.y - p3.y) * (p1.x - p3.x)) / denominator;
          var ub = ((p2.x - p1.x) * (p1.y - p3.y) - (p2.y - p1.y) * (p1.x - p3.x)) / denominator;
          var x = p1.x + ua * (p2.x - p1.x);
          var y = p1.y + ua * (p2.y - p1.y);
          if (ua > 0 && ub > 0) {
            markPoint({
              x: x,
              y: y
            })
          }
        }

        function markPoint(p) {
          ctx.beginPath();
          ctx.arc(p.x, p.y, 3, 0, 3 * Math.PI);
          ctx.fill();
        }

        function randomIntFromInterval(mn, mx) {
          return ~~(Math.random() * (mx - mn + 1) + mn);
        }
    </script>
</body>
</html>