<div class="course-group">
    <div class="top-group">
        <span class="title-group">DUDU个人笔记</span>
        <a href="http://dudubbs.top" target="view_window" class="more-group">↓前往分站</a>
    </div>
</div>

<a href="http://dudubbs.top" target="view_window">
    <div class="pay-info-group"></div>
</a>
<p><a href="http://dudubbs.top" target="view_window">DUDU个人记录：dudubbs.top</a></p>

<div class="focus-group">
    <div class="title-group">关注我</div>
    <div class="website-group">
        <div class="left-group">
            <div class="item-group">
                <svg class="icon logo-group zhihu-logo" aria-hidden="true">
                    <use xlink:href="#icon-QQ"></use>
                </svg>
                <div class="text-group">
                    <a href="#">QQ:530893915</a>
                </div>
            </div>
            <div class="item-group">
                 <svg class="icon logo-group zhihu-logo" aria-hidden="true">
                    <use xlink:href="#icon-weixin"></use>
                </svg>
                <div class="text-group">
                    <a href="#">WX:ddjajxbd</a>
                </div>
            </div>
            <div class="item-group">
                 <svg class="icon logo-group zhihu-logo" aria-hidden="true">
                    <use xlink:href="#icon-weibo1"></use>
                </svg>
                <div class="text-group">
                    <a href="https://weibo.com/u/5644564315" target="view_window">微博:---渎---</a>
                </div>
            </div>
        </div>
        <div class="right-group">
            <div class="qr-group"></div>
            <p class="text-group">喜欢这个网站？打赏作者~~</p>
        </div>
    </div>
</div>