<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="{%  static  'news/index.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_828876_x3yn2ysxzz.css">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <h1 class="logo-box">

            </h1>
            <ul class="menu">
                <li><a href="#" class="active">创投资讯</a></li>
                <li><a href="#" class="active">创业课堂</a></li>
                <li><a href="#" class="active">付费资讯</a></li>
                <li><a href="#" class="active">搜索</a></li>
            </ul>
            <div class="auth-group">
                <span class="iconfont icon-user-copy"></span>
                    <a href="#">登录</a>
                    <a href="#">/</a>
                    <a href="#">注册</a>
            </div>
        </nav>
    </header>
</body>
</html>