{% extends 'base/front_base.html' %}

{% load news_filters %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/news/news_detail.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-container">
            <div class="article-group">
                    <p class="article-title-group">{{ news.title }}</p>
                    <div class="article-info-group">
                        <div class="left-info-group">
                            <span class="author-time-group">{{ news.author.username }}</span>
                            <span class="author-time-group">{{ news.pub_time|time_since }}</span>
                            <span class="category-group">{{ news.category.name }}</span>
                        </div>
                    </div>
                        <article class="article-content-group">
                            {{ news.content|safe }}
                        </article>
                    <div class="comment-group">
                        <h2 class="comment-title">文章评论(0)</h2>
                        {% if front_user %}
                            <textarea id="comment-textarea" placeholder="请填写评论" cols="30" rows="10" class="comment-textarea logined-textarea"></textarea>
                        {% else %}
                            <textarea readonly placeholder="立即登录，参与评论~" cols="30" rows="10" class="comment-textarea nologin-textarea"></textarea>
                        {% endif %}
                        <div class="submit-comment-group">
                            <button class="submit-comment-btn" id="submit-comment-btn" data-news-id="{{ news.id }}">评论</button>
                        </div>
                    </div>
                    <ul class="comment-list-group">
                         <li>
                            <div class="top-info-group">
                                <div class="user-info-group">
                                    <img src="http://7xl0ey.com2.z0.glb.qiniucdn.com/1458392835_51884.jpg" alt="">
                                    <span class="username-group">小明</span>
                                </div>
                                <p class="time-group">1小时前</p>
                            </div>
                            <p class="comment-content-group">这篇文章写得好！</p>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="sidebar-container">
            {% include 'base/side.html' %}
        </div>
    </div>
{% endblock %}