{% extends 'cms/base.html' %}

{% block title %}
    轮播图管理
{% endblock %}

{% block head %}
    <style>
        .btn{
            border: none;
        }
        .banner-item{
            width: 800px;
        }
        .banner-image{
            width: 100%;
            height: 100%;
        }
        .more-group{
            margin-left: 20px;
        }
        .more-group input{
            width: 420px;
        }
        .img-group{
            width: 328px;
            height: 164px;
        }
    </style>
    <script src="{% static 'js/template-web.js' %}"></script>
    <script src="{% static 'js/banners.js' %}"></script>
{% endblock %}

{% block content-header %}
    <h1>轮播图管理</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="button-group pull-left">
                <button class="btn btn-primary" id="add-banner-btn">
                    <i class="fa fa-plus"></i>
                    添加轮播图
                </button>
            </div>
            <ul class="tips pull-left">
                <li>支持JPG、GIF、PNG格式，最多上传6张</li>
                <li>比例4:1，宽度在800px以上，5M以内</li>
            </ul>
        </div>
    </div>
    <div class="banner-list-group">

    </div>
    <script id="banner-item" type="text/html">
        {% verbatim %}
        <div class="box banner-item">
            <div class="box-header">
                <span class="priority-span">优先级：0</span>
                <button class="btn btn-default btn-xs pull-right close-btn">
                    <i class="fa fa-close"></i>
                </button>
            </div>
            <div class="box-body">
                <div class="img-group pull-left">
                    <input type="file" style="display: none;" class="image-select">
                    <img src="/static/css/news/images/sowing.png" alt="" class="banner-image" style="cursor: pointer;">
                </div>
                <div class="more-group pull-left">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title-h3" placeholder="标题">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="title-p" placeholder="小标题">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="priority" placeholder="优先级">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="link_to" placeholder="跳转链接">
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-primary pull-right save-btn">保存</button>
            </div>
        </div>
        {% endverbatim %}
    </script>

{% endblock %}