a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
    text-decoration: none;
}

/*视频背景*/
.abc{
    float: left;
    margin-top: -27px;
    position: fixed;
    width: 100%;
    height:auto;
    z-index: -99;
    opacity: 0.5;
    filter: blur(7px);
}

canvas{
    background-color: #f2f2f2;
    display: block;
    margin: 0 auto;
    position: fixed;
    z-index: -98;
    opacity: 0.7;
    -webkit-filter:blur(3px) sepia(5%);
    filter:blur(3px) sepia(5%);
}
/*---------------*/

html{
    /*background-color:#f2f2f2;*/
    background: url("/static/css/news/images/bg.jpg") no-repeat center;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    background-attachment: fixed;
    height: 100%;
}
body{
    height:0;
}

a:link{text-decoration:none!important; }  /* 指正常的未被访问过的链接*/

a:visited{text-decoration:none!important; }/*指已经访问过的链接*/

a:hover{text-decoration:none!important;}/*指鼠标在链接*/

a:active{text-decoration:none!important;}/* 指正在点的链接*/

.header{
    /*overflow: hidden;*/
    width: 100%;
    height: 65px;
    background: #2f3440;
    box-shadow: 0 2px 13px 5px rgba(0, 0, 0, 0.02);
    position: fixed;
    z-index: 95;
    top:0;

}

.nav{
    width: 1170px;
    height:100%;
    margin: 0 auto;
    /*overflow: hidden;*/
    line-height: 65px;
}

.nav .logo-box{
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: url("../news/images/logo.ico") no-repeat center;
    margin-top:8px;
    float: left;
}

.nav .menu{
    float: left;
    margin-left:40px;
    overflow: hidden;
}

.nav .menu li{
    float: left;
    /*box-sizing: border-box;*/
    /*height: 64px;*/
}

.nav .menu li a{
    color: white;
    padding:0 20px;
}

.nav .menu li a:hover{
    color: #ff8128;
    text-shadow: rgba(0, 0, 0, 0.69) 0 0 10px 10px;
    font-weight:bold;
}

.nav .menu li:hover{
    background: #4f5461;
    box-shadow: 0 2px 13px 5px rgba(0, 0, 0, 0.02);
    transition: all 0.25s ease;
    overflow: hidden;
}

/*.menu li.active{*/
    /*border-bottom:5px solid rgba(199, 217, 255, 0.6);*/
/*}*/

.auth-group{
    float: right;
    position: relative;
}

.auth-group a{
    color: white;
}

.auth-group a:hover{
    color: green;
}

.auth-group .icon-user-copy{
    color: white;
    font-size: 30px;
    margin-right: 5px;
}

.auth-group:hover .user-more-box{
    display: block;
}

.user-more-box{
    display: none;
    background: #fff;
    width: 140px;
    position: absolute;
    box-shadow: 0 2px 13px 5px rgba(0, 0, 0, 0.02);
    top: 65px;
    right: 0;
    font-size: 14px;
    z-index: 99;
}

.user-more-box .triangle{
    border: solid transparent;
    border-width: 10px;
    border-bottom-color: #fff;
    display: block;
    width: 0;
    height: 0;
    margin-top: -20px;
    margin-left: 60px;
}

.user-more-box a{
    text-align: center;
    height: 44px;
    color: #6d85ac;
    display: block;
    line-height: 44px;
}



.main{
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 65px;
    transition: all 0.75s ease;
}


.main .main-container{
    float: left;
    width: 795px;

    /*background: pink;*/
}

.main .sidebar-container{
    float: right;
    width: 355px;
    background: #ffffff;
    height: 690px;
    box-shadow: 0 2px 13px 5px rgba(0, 0, 0, 0.02);
}

.aabcc{
    perspective: 500px;
}

.main-auth-group{
    transform-style: preserve-3d;
    animation:aaa 0.5s;
}

@keyframes aaa {
    from{
        transform: rotateX(270deg);
    }
    to{
        transform: rotateX(360deg);
    }
}


/*-------------footer样式-------------*/
.footer{
    width:100%;
    margin-top: 200px;
    color: #c9c9c9;
    font-size: 14px;
}

.footer .footer-1{
    width: 100%;
    height: 100px;
    background-color: #474443;
}

.footer-1 .footer-inner{
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

.footer-inner .logo-box{
    width: 54px;
    height: 54px;
    background: url("/static/css/news/images/logo.ico") no-repeat center;
    border-radius: 50%;
    margin-top: 20px;
    float: left;
}

.footer-inner .detail-info-group{
    float: left;
    margin-top: 20px;
    margin-left: 80px;
    overflow: hidden;
}

.detail-info-group .top-group{
    overflow: hidden;
}

.top-group .links{
    overflow: hidden;
    float: left;
}

.links li{
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #eeeeee;
}

.links li:last-of-type{
    border:none;
}

.links li a{
    color: #c9c9c9;
    font-size: 14px;
}

.top-group .about-me{
    float: left;
    margin-left: 200px;
}

.about-me .span1{
    margin-right: 20px;
}

.about-me .span2{
    margin-right: 20px;
}

.about-me .qq,.weibo{
    font-weight:bold;
}

.detail-info-group .bottom-group{
    float: left;
    margin-top: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.bottom-group .address{
    float: left;
    margin-right: 400px;
}

.bottom-group .contact{
    float: left;
}

.footer .footer-2{
    width: 100%;
    height: 58px;
    background-color: #2d2a29;
    text-align: center;
    line-height: 58px;
}

.footer-2 p{
    margin:0 auto;
}